


* {
    margin: 0;
}


html {
    min-height: 100vh;
}
body{
 
      font-family: arial;
    color: #333333;
    background-color: rgb(241, 248, 248);
    line-height: 1.7;
    
   
    
}



.cabecalho {
    
    background-color: #abcfb0 ;
    text-align: center;
    padding: 40px 20px;


}


.links{
    background-color: #f0f4f8;
    padding: 15px;
    border-bottom: 2px solid green;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;

}

.links a {

    color: green;
    text-decoration: none;
    font-weight: bold;
    transition: 0.4s;   
}

h1{
   
    color: #2d6a4f;s
    font - size: 32px;
    margin: 0px 0 10px;
    
}

h2{
    color: #2d6a4f;
   font-family: lato;
    padding-left: 15px;
    
}

.titulo1{
    color: #2d6a4f;
      border-left: 4px solid #49ca2f;
    padding-left: 15px;
    
}

.titulo2{
    color: #2d6a4f;
    border-left: 4px solid #49ca2f;
    padding-left: 15px;
    
}

.titulo3{
    color: #2d6a4f;
    border-left: 4px solid #49ca2f;
    padding-left: 15px;
}

.container-central{
    max-width: 800px;
    margin: 0 auto;
}
section {
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
}






ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

li {
    background-color: #e6f4ea;
    padding: 12px 18px;
    margin-bottom:  8px;
    border-radius: 8px;
    border-left: 5px solid #2d6a4f ;
}
footer {
    background-color:#1a3c34 ;
    color: white;
    text-align: center;
    cursor: default;
    padding-top: 15px;
    bottom: 0;
}
.botao {
    display: inline-block;
    background-color: #f69337;
    color: black;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    margin: 15px 0;
}
span {
    font-weight: bold;
    font-size: 15px;
    color:#326d0d
}



.
